---
 const personalImageAlt = "David Villa"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo David Villa, soy estudiante de Ingeniería de Sistemas e Informática, 
      apasionado por el desarrollo web y la creación de soluciones tecnológicas innovadoras. 
    </p>
    
    <p>
      Me encanta trabajar con tecnologías modernas como <strong>React, NodeJS, 
      Express, Python,</strong> entre otras. Me esfuerzo por ofrecer aplicaciones 
      web rápidas, escalables y bien diseñadas.
    </p>
    
    <p>
      Actualmente estudio en la Universidad Nacional de Colombia, donde he desarrollado 
      habilidades en <strong> Bases de Datos, Desarrollo Web y Programación Funcional.</strong> 
    </p>
  </div>

  <img width="200" height="200" src="villa-photo.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>